<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}</title>
<style>
@font-face {
  font-family: "FiraCode";
  src: url("{{ '/assets/fonts/FiraCode-VF.ttf' | relative_url }}") format("truetype"),
  url("{{ '/assets/fonts/FiraCode-VF.woff2' | relative_url }}") format("woff2-variations"),
  url("{{ '/assets/fonts/FiraCode-VF.woff' | relative_url }}") format("woff-variations");
  /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
  font-weight: 300 700;
  font-style: normal;
}
</style>
<!-- Favicons -->
<link rel="icon" href="{{ '/assets/favicons/favicon.ico' | relative_url }}" type="image/x-icon">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicons/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/favicons/logo2-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/favicons/logo2-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/assets/favicons/manifest.webmanifest' | relative_url }}">
<meta name="theme-color" content="#000000">

<!-- Feed -->
{% feed_meta %}

{% include seo-head.html %}

<link rel="preload" as="image" href="{{ '/assets/images/divine-banner-short.webp' | relative_url }}" type="image/webp">
<link rel="stylesheet" href="{{ '/assets/css/dd.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/fira_code.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/checkbox.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/share-buttons.css' | relative_url }}">

{% include gtag.html %}