<div class="slack-msg">
  <div class="slack-header">
    <span class="slack-user {{ include.user | downcase }}">
    <img class="slack-avatar" src="{{ include.avatar_url | default: '/assets/images/slack/slack-avatar.webp' |relative_url }}" alt="{{ include.user }}'s avatar">
  </span>
    <span class="slack-user {{ include.user | downcase }}">
      {{ include.user }}</span>
    <span class="slack-time">{{ include.time }}</span>
  </div>
  <div class="slack-text">{{ include.text | markdownify | replace: '<p>', '' | replace: '</p>', '' }}</div>
</div>
