.giscus {
  margin: 2.5em auto 1.5em auto;
  padding: 1.2em 1em 1.5em 1em;
  max-width: 800px;
  background: #181c1f;

  border-radius: 8px;
  box-shadow: 0 0 24px #23ff0455;
  border: 1.5px solid var(--border-color, #40c9ff55);
  font-family: 'Fira Code', 'Fira Code VF', monospace;
}

.giscus-frame {
  border-radius: 6px;

  width: 100%;
  min-height: 350px;
}