/* Image Styles */

img {
    max-width: 100%;
    height: auto;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 15px var(--box-shadow-color);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.large-post-image {
    border: none !important;
    box-shadow: none !important;
    max-height: 600px;
    height: auto;
    display: block;
    margin: 1em auto;
}

img.small-post-image {
    border: none !important;
    box-shadow: none !important;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
