/* Table Styles */

table {
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
    color: #e3f3e3;
    border-collapse: collapse;
    border: 1px solid var(--table-border-color);
}

table tr:nth-child(even) {
    background-color: var(--table-row-bg-color);
}

table th {
    background-color: var(--table-header-bg-color);
    border: 1px solid var(--table-header-border-color);
    border-bottom-color: var(--table-header-border-bottom-color);
    font-size: larger;
}

table td {
    border: 1px solid var(--table-border-color);
    padding: 10px 15px;
}
