input[type=checkbox] {
    -webkit-appearance: none;
    appearance: none;
    background: #fff; /* this is needed for iOS. Otherwise the background just becomes black. */
    border: 1px solid #333;
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    border-radius: 100%;
    vertical-align: text-bottom;
    position: relative;
    
    &[disabled],
    &[aria-disabled=true] {
      opacity: .4;
    }
    
    &::before {
      content: '';
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;
      top: 0;
    }
    
    &:focus {
      outline: 2px solid;
      outline-offset: 2px;
    }
  }
  
  input[type=checkbox] {
    border-radius: 10%;
  }
  input[type=checkbox]:indeterminate::before,
input[type=checkbox][aria-checked=mixed]::before {
  border: 2px solid #222;
  height: 0;
  width: 40%;
}

input[type=checkbox]:checked::before {
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  height: 50%;
  width: 30%;
  transform: rotate(45deg) translateY(-20%) translateX(-10%);
}
input[type=checkbox]{
    background: #0a0a0a;
    border-color: #fff;
  }
input[type=checkbox]:checked::before,
input[type=checkbox]:indeterminate::before,
input[type=checkbox][aria-checked=mixed]::before{
  border-right-color: #fff;
  border-bottom-color: #fff;
}

input[type=checkbox] {
  &:focus {
    outline-color: #fff;
  }
}