svg {
    /* box-shadow: 0 0 25px rgba(136, 247, 136, 0.15);
        border: 1px solid #111; */
    filter: drop-shadow(0px 0px 25px rgba(0, 255, 0, 0.15));
}
#share-buttons {
    display: flex;
    vertical-align: middle;
}
#share-buttons:after {
    content: '';
    display: block;
    clear: both;
}
#share-buttons > div {
    position: relative;
    text-align: left;
    height: 36px;
    width: 32px;
    float: left;
}
#share-buttons > div > svg {
    height: 16px;
    fill: #d5d5d5;
    margin-top: 10px;
}
#share-buttons > div:hover {
    cursor: pointer;
}
#share-buttons > div.facebook:hover > svg {
    fill: #3b5998;
}
#share-buttons > div.twitter:hover > svg {
    fill: #55acee;
}
#share-buttons > div.linkedin:hover > svg {
    fill: #0077b5;
}
#share-buttons > div.reddit:hover > svg {
    fill: #ff4500;
}
#share-buttons > div.pinterest:hover > svg {
    fill: #cb2027;
}
#share-buttons > div.mail:hover > svg {
    fill: #7d7d7d;
}
#share-buttons > div.instagram:hover > svg {
    fill: #c73b92;
}
#share-buttons > div.facebook > svg {
    height: 18px;
    margin-top: 9px;
}
#share-buttons > div.twitter > svg {
    height: 20px;
    margin-top: 8px;
}
#share-buttons > div.linkedin > svg {
    height: 19px;
    margin-top: 7px;
}
#share-buttons > div.reddit > svg {
    height: 32px;
    margin-top: 0px;
    width: 32px;
}
#share-buttons > div.pinterest > svg {
    height: 20px;
    margin-top: 9px;
}
#share-buttons > div.mail > svg {
    height: 14px;
    margin-top: 11px;
}

#share-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
}

.about-link {
    margin-left: auto;
}

.about-link a {
    color: cyan;
    text-decoration: none;
    font-size: 0.9rem;
}

.about-link a:hover {
    color: white;
    transition: color 0.3s ease;
}
