<!DOCTYPE html>
<html lang="en" class="site-content">
    <head>
        <title>{{ site.description }}</title>
        {% include header.html %}
    </head>
    <body>
        {% include banner.html %}
        <div class="posts">
            <ul>
                {% for post in site.posts %}
                <li><a href="{{ post.url | relative_url }}#content">{{ post.title }}</a><br /><div class='post-date'>{{ post.date | date: "%Y-%m-%d" }}</li>
                {% endfor %}
            </ul>
        </div>
        {% include footer.html %} {% include credit-footer.html %}
    </body>
</html>
